---
import AppLayout from "../layouts/AppLayout.astro"
import Hero from "../components/Hero.astro"

---

<AppLayout title="Home">
	<Hero image="images/coffee01.jpg"/>

  <section class="flex flex-col md:flex-row p-4 gap-4">
    <article class="md:w-1/2">
      <img src="img01.jpg" alt="">
    </article>
  </section>
</AppLayout>